<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style2.css">
  <title><%= blog.title %></title>
</head>
<body>
    <div class="blog-container">
        
            <h1><%= blog.title %></h1>
        
        <div class="blog-author">
            <p><strong>Author:</strong> <%= blog.author %></p>
        </div>

        <div class="blog-content">
            <p><%= blog.content %></p>
        </div>
        
        
          <div class="back">
        
        <a href="/" class="back-button">Back to Home</a>
    </div>
      </div>
  
 

</body>
</html>
